<div class="main-div">
  <mat-card class="formularioCard">
    <mat-card-header>
      <mat-card-title>Formulario Reactivo</mat-card-title>
    </mat-card-header>

    <form [formGroup]="formulario">
      <mat-card-content>
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Escribe tu nombre" formControlName="nombre">
          
          @if (formulario.get('nombre')?.touched) {
            @if (formulario.get('nombre')?.hasError('required')) {
              <mat-error>El campo no puede estar vacío</mat-error>
            }
            @if (formulario.get('nombre')?.hasError('minlength')) {
              <mat-error>Mínimo 4 caracteres</mat-error>
            }
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Apellidos</mat-label>
          <input matInput placeholder="Escribe tus apellidos" formControlName="apellidos">
          
          @if (formulario.get('apellidos')?.touched && formulario.get('apellidos')?.hasError('required')) {
            <mat-error>Los apellidos son obligatorios</mat-error>
          }
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions align="end">
        <button (click)="saluda()" 
                [disabled]="formulario.invalid" 
                mat-raised-button 
                color="primary">
          Entrar
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>